.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;;
  height: 1500px;
  width: 100%;
  background: #0D1332;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 10px 0 150px;
}
.colar {
  width: 100%;
  padding: 50px 0;
}
.title {
  min-width: 300px;
  max-width: 95%;
  padding: 50px 0;
}
.description {
  margin: 0 auto;
  max-width: 700px;
}
.description iframe {
  max-width: 100%;
}
.shields {
  max-width: 80%;
  padding: 50px 0;
}
@media (min-width: 1024px) {
  .wrapper {
    height: 1700px;
  }
}
