.wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: space-between;;
  width: 100%;
  background: #0D1332;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 10px 0 150px;
}
.colar {
  width: 100%;
  padding: 50px 0;
}
.republicas_wrapper {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.republicas {
  display: flex;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px
}
.republicas img {
  max-width: 75px;
  max-height: 65px;
  margin: 0 auto;
}
.title {
  min-width: 300px;
  max-width: 95%;
  padding: 50px 0;
}
.description {
  margin: 0 auto;
  max-width: 85%;
  padding-bottom: 120px;
}
.description iframe {
  max-width: 100%;
}
/*.shields {
  max-width: 80%;
  padding: 50px 0;
}*/
@media (min-width: 768px) {
  .republicas {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    height: 135px;
    width: 135px
  }
  .republicas img {
    max-height: 100px;
    max-width: 125px;
    margin: 0 auto;
  }

}
@media (min-width: 1024px) {

}
