.wrapper {
  width: 100%;
  background-color: #EC1D24;
  margin: -120px auto 0;
  text-align: center;
  position: relative;
  top: 120px;
  z-index: 99;
}
.divider {
  width: 100%;
  position: relative;
  top: -2px;
}
.text {
  color: #fff;
  padding-top: 20px;
  max-width: 75%;
  margin: 0 auto;
  position: relative;
  top: 30px;
  z-index: 999;
}
.bot_divider {
  width: 100%;
  position: relative;
  bottom: -20px;
}
.footer {
  background-color: #FFCA05;
  padding: 50px 0 20px;
}
.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  text-align: left;
}
.footer_container a {
  font-size: 0.7em;
  color: #000;
}
.facebook {
  transition: 0.5s ease-in;
}
.facebook:hover {
  transform: rotateZ(30deg);
}
@media (min-width: 768px) {
  .bot_divider {
    bottom: -50px;
  }
}
