.wrapper {
  padding: 25px 0;
  text-align: center;
}
.id {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 15px 0;
}
.img {
  padding-right: 10px;
}

.placeHolder {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
}

.title {
  text-align: left;
  text-transform: uppercase;
}
.info {
  display: flex;
}
.stock {
  background: #0D1332;
  /*padding: 14px 15px;*/
  width: 50px;
  margin-right: -50px;
  position: relative;
  top: -5px;
  left: -84px;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.stock_num {

}
.simple_container {
}
.simple_product {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
}
.stock_text {
  font-size: 0.6em;
}
.price {
  width: 5%;
  text-align: center;
  font-size: 1.5em;
}
.counter {
  width: 8%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}
.num {
  font-size: 2em;
}
.buttons {
  display: flex;
  flex-flow: column;
  margin-top: -15px;
}
.price {
  padding: 25px 0;
  width: 100%;
  border-bottom: 1px solid #ff0;
}
@media (min-width: 375px) {
  .num {
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
  }
  /* Block */
  .id {
    width: 25%;
  }
  .info {
    width: 45%;
  }
  .price {
    width: 25%;
    border: none;
  }
  /* Block .id */
  .title {
    width: 75%;
  }
  .img {
    width: 35%;
  }
  /* Select */
  .simple_product {
    text-align: center;
    font-size: 1.5em;
    padding: 5px 15px;
    border: 1px solid #fff;
    color: #0D1332;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    width: 100%;
  }
  .restantes {
    font-size: 0.5em;
  }
  .stock {
    left: -80px;
  }
  .num {
    padding-right: 20px;
  }

}
@media (min-width: 1024px) {
  .info {
    width: 40%;
  }
  .stock {
    top: 0;
    left: -140px;
    width: 80px;
    margin-right: -80px;
  }
}
