.wrapper {
  padding: 25px 0;
  text-align: center;
}
.id {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  padding: 15px 0;
}
.img {
  padding-right: 10px;
}
.title {
  text-align: left;
  text-transform: uppercase;
}
.info {
  display: flex;
}
.stock {
  background: #0D1332;
  padding: 14px 15px;
  width: 50px;
  margin-right: -50px;
  position: relative;
  left: -100px;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.stock_num {

}
.simple_container {
}
.simple_product {
  text-align: center;
  font-size: 1.5em;
  padding: 5px;
  border: 1px solid #fff;
  color: #fff;
  margin: 0 auto;
}
.stock_text {
  font-size: 0.6em;
}
.price {
  width: 5%;
  text-align: center;
  font-size: 1.5em;
}
.counter {
  width: 5%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
.num {
  font-size: 2em;
}
.buttons {
  padding-left: 5px;
  display: flex;
  flex-flow: column;

}
.plus, .minus {
  padding: 1px 8px;
  margin: 0.5px 0;
}
.plus {
  background-color: #EC1D24;
}
.minus {
  background-color: #FFCA05;
}
.price {
  padding: 25px 0;
  width: 100%;
  border-bottom: 1px solid #ff0;
}

@media (min-width: 560px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: left;
  }
  .title {
    width: 15%;
  }
  .img {
    display: block;
  }
  .price {
    width: 15%;
  }
}
@media (min-width: 768px) {
  .img {
    width: 20%;
  }
  .info {
    width: 35%;
  }
  .simple_product {
    border-radius: 50%;
    width: 50px;
  }

}
@media (min-width: 1024px) {
  .info {
    width: 40%;
  }
  .stock {
    left: -160px;
    width: 80px;
    margin-right: -80px;
  }
}
