.wrapper {
  color: #fff;
  background-color: #222B57;
  text-align: center;
  margin: 0 auto;
  padding: 0 0 100px;
  width: 100%;
}
.divider {
  position: relative;
  top: -10px;
  width: 100%;
}
.event {
  background: #fff;
  border-radius: 50%;
  padding: 15px;
  position: relative;
  top: -150px;
  max-width: 60%;
}
.products {
  max-width: 90%;
  margin: 0 auto;
}
.action{
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200%;
}
.banner {
  width: 355px;
  max-width: 100%;
}
.line {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #fff;
}
.total {
  max-width: 200px;
  margin: 25% 0 10%;

}
.value {
  font-size: 2em;
  margin: 10% 0;
}
.button {
  border: 1px solid #fff;
  padding: 20px 40px;
  margin: 10% 0 30%;
  cursor: pointer;
}
.button:hover {
  background: #000;
  border: 1px solid #000;
}
.addItem {
  margin: 10% 0 30%;
}
@media (min-width: 720px) {
  .divider {
    top: -18px;
  }
}

@media (min-width: 1024px) {
  .divider {
    top: -30px;
  }
}
@media (min-width: 1440px) {
  .event {
    top: -330px;
  }
  .divider {
    top: -33px;
  }
}
@media (min-width: 2040px) {
  .event {
    top: -390px;
  }
  .divider {
    top: -60px;
  }
}
