.wrapper {
  background: #D0021B;
  min-height: 100%;
  padding: 100px 0;
}
.wrapper a {
  color: #D0021B;
}
.container {
  margin: 0 auto;
  padding: 50px 30px;
  max-width: 85%;
  color: #fff;
  text-align: center;
  background: #0D1332;
}
